<div class="row justify-content-center">
    <div class="col-6">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                Edit
            </div>
            <form hx-put="/measurements/{{ .Id }}"
                  hx-target="main"
                  hx-swap="innerHTML">
                <div class="row g-3 align-items-center">
                    <div class="col-12">
                        <label for="Steps" class="form-label">Steps: <span id="StepsVal">{{ .Steps }}</span></label>
                        <input type="range" class="form-range" min="0" max="30000" step="1" id="Steps" name="Steps" onchange="StepsVal.innerHTML = this.value" value="{{ .Steps }}">
                    </div>
                    <div class="col-12">
                        <label for="SleepDuration" class="form-label">Sleep Duration: <span id="SleepDurationVal">{{ .SleepDuration }}</span>h</label>
                        <input type="range" class="form-range" min="0" max="24" id="SleepDuration" name="SleepDuration" onchange="SleepDurationVal.innerHTML = this.value" value="{{ .SleepDuration }}">
                    </div>
                    <div class="col-12">
                        <label for="SleepQuality" class="form-label">Sleep Quality: <span id="SleepQualityVal">{{ .SleepQuality }}</span>%</label>
                        <input type="range" class="form-range" min="0" max="100" step="1" id="SleepQuality" name="SleepQuality" onchange="SleepQualityVal.innerHTML = this.value" value="{{ .SleepQuality }}">
                    </div>
                    <div class="col-12">
                        <label for="Mood" class="form-label">Mood: <span id="MoodVal">{{ .Mood }}</span>/10</label>
                        <input type="range" class="form-range" min="0" max="10" step="1" id="Mood" name="Mood" onchange="MoodVal.innerHTML = this.value" value="{{ .Mood }}">
                    </div>
                    <div class="col-12  ">
                        <label for="Energy" class="form-label">Energy: <span id="EnergyVal">{{ .Energy }}</span>/10</label>
                        <input type="range" class="form-range" min="0" max="10" step="1" id="Energy" name="Energy" onchange="EnergyVal.innerHTML = this.value" value="{{ .Energy }}">
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Submit" class="btn btn-success">
                    <button type="button" class="btn btn-danger" hx-get="/measurements">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>