<div class="row justify-content-center">
    <div class="col-6">
        <div class="card text-center" style="width: 100%;">
            <div class="card-header">
                Date: {{ .Id }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Steps: {{ .Steps }}</li>
                <li class="list-group-item">Sleep Duration: {{ .SleepDuration }}h</li>
                <li class="list-group-item">Sleep Quality: {{ .SleepQuality }}%</li>
                <li class="list-group-item">Mood: {{ .Mood }}/10</li>
                <li class="list-group-item">Energy: {{ .Energy }}/10</li>
            </ul>
            <div class="card-footer">
                <div class="btn-group">
                    <button  type="button"
                             class="btn btn-primary"
                             hx-get="/measurements"
                             hx-trigger="click"
                             hx-target="main"
                             hx-swap="innerHTML">
                        <i class="bi bi-arrow-left"></i>
                    </button>
                    <button type="button" class="btn btn-warning"
                            hx-get="/measurements/edit/{{.Id}}"
                            hx-trigger="click"
                            hx-target="main"
                            hx-swap="innerHTML">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger"
                            hx-delete="/measurements/{{.Id}}"
                            hx-trigger="click"
                            hx-target="main"
                            hx-swap="innerHTML">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>